# Fifa tweet

In [2]:
import pandas as pd
import numpy as np

In [50]:
data = pd.read_csv('FIFA.csv')

In [51]:
dataFrame = pd.DataFrame(data)

In [93]:
def getNames():
    def iterNames():
        for name in dataFrame.Name[:40000]:
            yield name
    return set(iterNames())

In [87]:
from collections import Counter

countNames = dict(Counter(dataFrame.Name[:40000]))
items = [countNames.get(v) for v in countNames] 
keys = [i for i in countNames.keys()]
dataDf = {'Names': keys, 'Count': items}
df  = pd.DataFrame(dataDf)
df[filter]

                                         Names  Count
2                                           ??    204
7                       STAN LEGENDS, STAN EXO     24
21                                    ?? ?? ??     19
28                                        ????    209
35                                   Guadalupe     20
37                                  ?liszloey?     11
47                                           .     42
55                                           ?    304
75                                    ????????     66
83                         Minseok el inmortal     20
102             Aleeh ?? Líder #EquipoXiumin ?     38
121                                      ?? ??     17
123                          Evelyn de Lagusna     44
141                            ???????????????     25
143                          Liz Jiménez Gante     59
154                           Danelly KxS SxL?     69
207                                  ? meaw ??     20
209                                 Mr. grutas     22
241                                      Paola     25
250                       StayStrong & HoldOn?     18
259                                     malena     31
273                           ?constanza_kiss?     26
276                                      jas ?     50
280                              Isabel 7w7 ??     15
286                                        ???    186
288                                      ?????    137
302                           Señora de Park.?     11
319                      ???LoverFOX ? Fayri-?     76
350                             Estrella @? ^^     25
361                                 Sariitaa ?     15
...                                        ...    ...
12888                         Kobby Drinkwater     18
13318                               •DARKNESS•     26
13372                              Arun Thomas     12
14373                          Kimberly Jenita     18
14803                              Alan Parker     27
15139                                Angie Red     13
15549                                   Elneny     20
15605                                    Negin    106
15667                               Ana Gracin     30
15843                             Izzati Najwa     16
15930                         ExoForTheWin ???     70
16403                            oluwe jackson     17
16422               UKIP are the true Patriots     20
16529                              srebrnalipa     17
18183                             Ray@Thailand     14
18885                            ?~Misuchin?~?     14
19325                           ATHENA?Exo-???     34
19347                 #TeamRayaSelangor #BEL??     11
20089                          alkhansa'a™????     16
20136                             Alex Railton     14
20810                          Thomas Carrasco     15
21208                     Yazdgerd J Bilimoria     18
21699                       BTS & ARMY Forever     11
22476                                  Pauleth     14
22654                            Just Dreaming     12
22672                                    A-2 ?     19
23217                                  hussein     27
23245                        ThatVintageSeller     11
24991                               ASHMESSI10     17
25544  democratic "get rid of nazis" socialist     18

[174 rows x 2 columns]

## Get most important Tags

In [91]:
from collections  import Counter
counterTags = dict(Counter(dataFrame.Hashtags[:40000]))
items = [counterTags.get(v) for v in counterTags] 
keys = [i for i in counterTags.keys()]

dataTags = {'Names': keys, 'Count': items}
dfTags  = pd.DataFrame(dataDf)
filterTags = dfTags['Count'] > 10
medianCount = dfTags['Count'].median()
maxCount = dfTags['Count'].max()
minCount = dfTags['Count'].min()
print(f'Median {medianCount} max {maxCount} min {minCount}')
dfTags[filterTags]

Median 1.0 max 304 min 1

                                         Names  Count
2                                           ??    204
7                       STAN LEGENDS, STAN EXO     24
21                                    ?? ?? ??     19
28                                        ????    209
35                                   Guadalupe     20
37                                  ?liszloey?     11
47                                           .     42
55                                           ?    304
75                                    ????????     66
83                         Minseok el inmortal     20
102             Aleeh ?? Líder #EquipoXiumin ?     38
121                                      ?? ??     17
123                          Evelyn de Lagusna     44
141                            ???????????????     25
143                          Liz Jiménez Gante     59
154                           Danelly KxS SxL?     69
207                                  ? meaw ??     20
209                                 Mr. grutas     22
241                                      Paola     25
250                       StayStrong & HoldOn?     18
259                                     malena     31
273                           ?constanza_kiss?     26
276                                      jas ?     50
280                              Isabel 7w7 ??     15
286                                        ???    186
288                                      ?????    137
302                           Señora de Park.?     11
319                      ???LoverFOX ? Fayri-?     76
350                             Estrella @? ^^     25
361                                 Sariitaa ?     15
...                                        ...    ...
12888                         Kobby Drinkwater     18
13318                               •DARKNESS•     26
13372                              Arun Thomas     12
14373                          Kimberly Jenita     18
14803                              Alan Parker     27
15139                                Angie Red     13
15549                                   Elneny     20
15605                                    Negin    106
15667                               Ana Gracin     30
15843                             Izzati Najwa     16
15930                         ExoForTheWin ???     70
16403                            oluwe jackson     17
16422               UKIP are the true Patriots     20
16529                              srebrnalipa     17
18183                             Ray@Thailand     14
18885                            ?~Misuchin?~?     14
19325                           ATHENA?Exo-???     34
19347                 #TeamRayaSelangor #BEL??     11
20089                          alkhansa'a™????     16
20136                             Alex Railton     14
20810                          Thomas Carrasco     15
21208                     Yazdgerd J Bilimoria     18
21699                       BTS & ARMY Forever     11
22476                                  Pauleth     14
22654                            Just Dreaming     12
22672                                    A-2 ?     19
23217                                  hussein     27
23245                        ThatVintageSeller     11
24991                               ASHMESSI10     17
25544  democratic "get rid of nazis" socialist     18

[174 rows x 2 columns]

In [94]:
table = dataFrame[:40000]
unRts = table[table.Followers  >= 400]
filterLeng = table['len'] >= 110
filterHashTags = table['Hashtags'] == 'WorldCup'
filterLikes = table['Likes'] > 1100
filterRts = table['RTs'] > 200
filterName = table['Name'] == 'FOX Sports'


result = table[ filterHashTags & filterLikes & filterRts]
result = table[filterHashTags]
result[:10]

,ID,lang,Date,Source,len,Orig_Tweet,Tweet,Likes,RTs,Hashtags,UserMentionNames,UserMentionID,Name,Place,Followers,Friends
1,1013597056219295744,en,2018-07-02 01:35:44,Twitter for Android,139,RT @FCBarcelona: ?? @ivanrakitic scores the wi...,scores the winning penalty to send into the qu...,0,1031,WorldCup,"FC Barcelona,Ivan Rakitic,HNS | CFF","FCBarcelona,ivanrakitic,HNS_CFF",Febri Aditya,Bogor,667,686
10,1013597036178956288,en,2018-07-02 01:35:39,Twitter for Android,86,RT @EllaPangilinanx: Idek what to do anymore. ...,Idek what to do anymore Spain and Portugal bot...,0,1,WorldCup,Ella Laxa-Pangilinan,EllaPangilinanx,Alice,"Bulacan, Central Luzon",34,315
19,1013597022992195585,en,2018-07-02 01:35:36,Twitter for iPad,120,RT @IanStaffs: Wonder what the odds were on Me...,Wonder what the odds were on Messi Ronaldo and...,0,4,WorldCup,Ian Stafford,IanStaffs,SKS Media India,"Mumbai, India",2147,2403
20,1013597015375339520,en,2018-07-02 01:35:34,Twitter for iPhone,125,RT @LeJuan__James: Lebron news is cool and all...,Lebron news is cool and all pero let gets back...,0,3,WorldCup,LeJuan James,LeJuan__James,DD Benitez,The Ohio State University,171,403
32,1013596987659378691,en,2018-07-02 01:35:28,Twitter for Android,140,"RT @SkyFootball: ""There's nothing to be scared...",Theres nothing to be scared of Colombia are po...,0,85,WorldCup,"Sky Sports World Cup,England","SkyFootball,England",Gato Mundialista ??,"Bogotá, D.C., Colombia",58130,32369
34,1013596985218256896,en,2018-07-02 01:35:27,Twitter for Android,117,When you tryna film but someone tells you that...,When you tryna film but someone tells you that...,1,0,WorldCup,NaN,NaN,Sadia? ???????+???? once and forever?,Somewhere in the EUNiverse??,195,513
35,1013596984589111296,en,2018-07-02 01:35:27,Twitter for iPhone,138,RT @Footy_JokesOG: ?? Kasper Schmeichel:\r\n\r...,Kasper Schmeichel Saves penalty in Extra Time ...,0,762,WorldCup,Footy Jokes,Footy_JokesOG,Facundo Zabala,Montevideo,440,1281
50,1013596949411315712,en,2018-07-02 01:35:19,Twitter for iPhone,64,RT @MisterHeartz: GG GN and GL #WorldCup https...,GG GN and GL,0,4369,WorldCup,HRK800 Serial No. 191 919 199,MisterHeartz,iiooiip,NaN,0,16
51,1013596948262031360,en,2018-07-02 01:35:18,Twitter for Android,64,RT @MisterHeartz: GG GN and GL #WorldCup https...,GG GN and GL,0,4369,WorldCup,HRK800 Serial No. 191 919 199,MisterHeartz,ken,in home,75,137
52,1013596947062521856,en,2018-07-02 01:35:18,Twitter for Android,138,RT @Footy_JokesOG: ?? Kasper Schmeichel:\r\n\r...,Kasper Schmeichel Saves penalty in Extra Time ...,0,762,WorldCup,Footy Jokes,Footy_JokesOG,.,NaN,322,338

In [146]:
        
        
def likes(names):
    n = len(names)
    return {
        0: 'no one likes this',
        1: '{} likes this', 
        2: '{} and {} like this', 
        3: '{}, {} and {} like this', 
        4: '{}, {} and {others} others like this'
    }[min(4, n)].format(*names[:3], others=n-2)

print(likes([]))
print(likes(["Peter"]))
print(likes(["Jacob", "Alex"]))
print(likes(["Max", "John", "Mark"]))
print(likes(["Alex", "Jacob", "Mark", "Max", "Max"]))

no one likes this
Peter likes this
Jacob and Alex like this
Max, John and Mark like this
Alex, Jacob and 3 others like this

# Plotly and Cufflinks

In [44]:
from plotly import __version__

In [48]:
import cufflinks  as cf

ModuleNotFoundError: No module named 'cufflinks'